@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,700;1,400&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Ubuntu", sans-serif;
  background-image: radial-gradient(#1b2735, #090a0f);
  position: relative;
  overflow: hidden;
}

h1 {
  color: white;
  display: flex;
  justify-content: center;
  font-size: 3.5rem;
  text-shadow: 0px 0px 15px rgba(255, 255, 255, 0.4);
}

main {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.container {
  width: 70%;
}

.container svg {
  width: 100%;
}

#stars {
  position: fixed;
  top: -1vh;
  transform: translateY(0);
  box-shadow: rgba(255, 255, 255, 1) 0px 0px 30px 2px;
  width: 1px;
  height: 1px;
  background-color: white;
  z-index: -20;
  animation: starAnimation 20s linear;
}

.info {
  z-index: 2;
  width: 80%;
  height: 300px;
  color: white;
  border-radius: 20px;
  letter-spacing: 1px;
  margin: 0 auto;
  background-color: rgba(0, 0, 0, 0.2);
  animation: fadeIn 0.5s ease-in-out;
}

h2.planet-name {
  display: flex;
  justify-content: center;
  font-size: 2rem;
  letter-spacing: 10px;
  padding: 8px;
}

.info p {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 8px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.03);
  margin: 3px;
}

.info p:last-child {
  border-bottom: none;
}

.info p span {
  width: 100px;
  display: flex;
  justify-content: center;
  letter-spacing: 2px;
  width: 100%;
}

sup {
  margin-right: 5px;
}

#Layer_1 {
  fill: white;
}

.solar-system-info {
  width: 80%;
  margin: 10px auto;
  line-height: 22px;
  letter-spacing: 2px;
  font-size: 1.1em;
}

/* sun */
.cls-123 {
  cursor: pointer;
}

.cls-123:hover {
  fill: transparent;
}

/* mercury */
.cls-146 {
  cursor: pointer;
}

.cls-146:hover {
  fill: transparent;
}

/* venus */
.cls-156 {
  cursor: pointer;
}

.cls-156:hover {
  fill: transparent;
}
/* earth */
.cls-127 {
  cursor: pointer;
}

.cls-127:hover {
  fill: transparent;
}

/* mars */
.cls-30 {
  cursor: pointer;
}

.cls-30:hover {
  fill: transparent;
}

/* jupiter */
.cls-49 {
  cursor: pointer;
}

.cls-49:hover {
  fill: transparent;
}

/* saturn  SOMETHING WRONG HERE*/
.cls-67 {
  cursor: pointer;
}

.cls-67:hover > .cls-70 {
  fill: transparent;
}

/* uranus */
.cls-100 {
  cursor: pointer;
}

.cls-100:hover {
  fill: transparent;
}

/* neptune */
.cls-91 {
  cursor: pointer;
}

.cls-91:hover {
  fill: transparent;
}

@keyframes starAnimation {
  to {
    transform: translateY(105vh);
  }
}

/* @keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
} */
